---
layout: docs
title: Zoom
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/zoom.html
root: '../'
---
<h1>Zoom</h1>
<p class="lead">The zoom plugin provides simple image zoom functionality.</p>

<p>Add a <code>data-action="zoom"</code> attribute to any image you want to make zoomable.</p>

<div class="mb-4" style="max-width: 400px">
  <img src="../assets/img/red-tree.jpg" alt="Maple leaf" class="img-fluid" data-action="zoom">
</div>

<p>Zoomed images can be closed by scroll, <em>esc</em>, or click.</p>

{% highlight "html" %}
<img src="assets/img/red-tree.jpg" alt="..." class="img-fluid" data-action="zoom">
{% endhighlight %}

<p>
  <a href="https://github.com/spinningarrow/zoom-vanilla.js" target="_blank" rel="noopener">Zoom plugin <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
