---
layout: base
title: Pages
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /pages.html
---
<!-- Hero -->
<div class="container py-5">
  <div class="col-lg-8">
    <h1 class="display-4">Pages</h1>
    <div class="border border-3 border-light w-15 my-4"></div>
    <p class="lead text-secondary">A set of pages made to start your portfolio quickly.</p>
  </div>
</div>

<!-- Projects -->
<div class="container pb-4">
  <h2 class="mb-4">Landing</h2>
  <ul class="row list-unstyled mb-4">
    <li class="col-md-6 mb-3">
      <a href="portfolio-1.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/portfolio-1.jpg" width="800" height="550" alt="Architecture" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="portfolio-2.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/portfolio-2.jpg" width="800" height="550" alt="Interior Design" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="portfolio-3.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/portfolio-3.jpg" width="800" height="550" alt="Photography" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="portfolio-4.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/portfolio-4.jpg" width="800" height="550" alt="Web Design" class="img-thumbnail">
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>

  <h2 class="mb-4">Project</h2>
  <ul class="row list-unstyled mb-4">
    <li class="col-md-6 mb-3">
      <a href="project-1.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/project-1.jpg" loading="lazy" width="800" height="550" alt="Architecture project" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="project-2.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/project-2.jpg" loading="lazy" width="800" height="550" alt="Interior Design project" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="project-3.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/project-3.jpg" loading="lazy" width="800" height="550" alt="Photography project" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="project-4.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/project-4.jpg" loading="lazy" width="800" height="550" alt="Web Design project" class="img-thumbnail">
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>

  <h2 class="mb-4">Secondary</h2>
  <ul class="row list-unstyled mb-4">
    <li class="col-md-6 mb-3">
      <a href="blog.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/blog.jpg" loading="lazy" width="800" height="550" alt="Blog" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="article.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/article.jpg" loading="lazy" width="800" height="550" alt="Article" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="contact.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/contact.png" loading="lazy" alt="Contact" class="img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Page</p>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6 mb-3">
      <a href="about.html">
        <figure>
          <div class="img-overlay mb-3">
            <img src="assets/img/about.jpg" loading="lazy" width="800" height="550" alt="About us" class="img-thumbnail">
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>
</div>

<!-- Call to action -->
<div class="bg-primary text-dark text-center">
  <div class="container py-6">
    <h2 class="font-sans">Focus is mobile-ready, flexible and cross-browser</h2>
    <p class="lead mb-4">Impress your audiences with memorable pages that showcase your works</p>
    <a href="https://themes.getbootstrap.com/product/focus/" class="btn btn-outline-dark">Buy now</a>
  </div>
</div>
