---
layout: base
title: Photography
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /portfolio-3.html
---
<!-- Hero -->
<div class="container text-center py-5 py-lg-6">
  <h1 class="display-3 mb-5">Photography</h1>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xxl-8">
      <figure>
        <blockquote class="blockquote text-center">
          <p class="fst-italic">When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.</p>
        </blockquote>
        <figcaption class="blockquote-footer text-center mt-n2">Ansel Adams</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="container pb-5">
  <div class="row gx-xxl-5">
    <div class="col-md-6">
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/autumn-leafs.jpg" width="800" height="533" alt="Autumn leafs" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">Autumn</figcaption>
        </figure>
      </a>
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/seashore.jpg" width="800" height="532" alt="Seashore during golden hour" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">Summer</figcaption>
        </figure>
      </a>
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/time-square.jpg" width="800" height="1200" alt="Time Square - New York" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">Cities</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-md-6">
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/wooden-house.jpg" width="800" height="1200" alt="Skogafoss Stairs - Iceland" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">Winter</figcaption>
        </figure>
      </a>
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/cherry-blossoms.jpg" width="800" height="500" alt="Cherry blossom tree under clear blue sky" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">Spring</figcaption>
        </figure>
      </a>
      <a href="project-3.html">
        <figure class="img-color mb-5">
          <img src="assets/img/people.jpg" width="800" height="533" alt="Four people laughing on a mountain" class="img-fluid mb-3">
          <figcaption class="h4 fw-light text-light text-center">People</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>

<!-- Call to action -->
<div class="bg-primary text-dark">
  <div class="container py-6">
    <div class="row justify-content-center align-items-stretch gx-lg-6">
      <div class="col-lg border-end-lg border-muted">
        <h2 class="display-5 text-lg-end mb-3 my-lg-2">Would you like to see more?</h2>
      </div>
      <div class="col-lg">
        <p class="lead">Duis aute irure dolor in reprehenderit in voluptate.</p>
        <a href="contact.html" class="btn btn-outline-dark">Contact Us</a>
      </div>
    </div>
  </div>
</div>
