---
layout: base
title: Autumn
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /project-3.html
---
<!-- Hero -->
<div class="container py-5 py-lg-6">
  <h1 class="display-4">Autumn</h1>
  <div class="border border-3 border-light mt-3 mb-5 w-15"></div>
  <img src="assets/img/autumn-landscape.jpg" width="1280" height="850" class="img-fluid mb-5" alt="Yellow and green leafed trees">

  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-xxl-8 text-center">
      <h2 class="mb-3">Fall in love with autumn</h2>
      <p class="text-secondary">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

<!-- Gallery -->
  <div class="row g-3 g-lg-2 mb-5 mb-lg-6">
    <div class="col-lg-4">
      <img src="assets/img/autumn-1.jpg" width="1280" height="800" class="img-fluid" alt="White and brown house near a body of water during daytime" data-action="zoom">
    </div>
    <div class="col-lg-4">
      <img src="assets/img/autumn-2.jpg" width="1280" height="800" class="img-fluid" alt="Brown-leafed tree near body of water" data-action="zoom">
    </div>
    <div class="col-lg-4">
      <img src="assets/img/autumn-3.jpg" width="1280" height="800" class="img-fluid" alt="Boy wearing orange bubble jacket walking on dry fallen leaves on the ground" data-action="zoom">
    </div>
  </div>

  <div class="text-center">
    <a href="portfolio-3.html" class="btn btn-outline-light">View Portfolio</a>
  </div>
</div>
